/*
Display: esta propiedad nos sirve para cambiar el contexto de los elementos dentro del navegador

Admite varios valores:

none: hace que el elemento no se muestre, pero sigue cargandose.
block: hace que el elememto sea de bloque
inline: hace que que el elemento sea de linea
inline-block: hace que el elemento sea de linea pero admite medidas y márgenes verticales.
*/

*{
    box.sizing:border-box;
}

body{
    background-color: #333;
    color: #fff;
}

.text{
    background-color: lightcoral;
    /*display:none;*/
    /*splay:inline;
    width: 200px;
    margin-bottom: 100px;*/
}

.link{
    background-color: #fff;
    display:inline-block;
    width: 100px;
    margin-top: 50px;
    /*display:block;
    width:100px;
    margin-bottom:20px;*/
}